<!---start-header---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#leftpanel"> </a>
                <div class="logo"><img src="images/logo.png" alt="" class="headlogo"/>
            </div>
        </div>
        <!---//End-header---->