<!-- Begin sliding menu -->
        <div data-role="panel" id="leftpanel" data-position="left" data-display="overlay" data-theme="a">
            <ul data-role="listview">
                <li data-icon="false" style="pointer-events: none;
   cursor: default;"><a href="#">Logged in as: {{username}}</a></li>
                <li data-icon="back"><a href="#" data-rel="close">Back</a></li>
                <li data-icon="search">
                    <a href="/main">My Reservations</a>
                </li>
                <li data-icon="edit">
                    <a href="/newresv">Reserve a spot</a>
                </li>
                <li data-icon="info">
                    <a href="/liveview">Live Bus Information</a>
                </li>
                <li data-theme="d" data-icon="power">
                    <a href="/process_login?logout=true">Logout</a>
                </li>
            </ul>   
        </div>
        <!-- End sliding menu -->