        <!-- Begin sliding menu -->
        <div data-role="panel" id="leftpanel" data-position="left" data-display="overlay" data-theme="a">
            <ul data-role="listview">
                <li data-icon="back"><a href="#" data-rel="close">Back</a></li>
                <li>
                    <a href="/main" rel="external">
                        <img src="images/home-icon.png" alt="" class="ui-li-icon ui-corner-none" />
                        My Reservations</a>
                </li>
                <li>
                    <a href="/newresv" rel="external">
                        <img src="images/blog.png" alt="" class="ui-li-icon ui-corner-none" />
                        New Reservation</a>
                </li>
                <li>
                    <a href="/liveview" rel="external">
                        <img src="images/icon.png" alt="" class="ui-li-icon ui-corner-none" />
                        Live Bus Information</a>
                </li>
                <li data-theme="d">
                    <a href="/process_login?logout=true" rel="external">
                        <img src="images/return.png" alt="" class="ui-li-icon ui-corner-none" />
                        Log-out</a>
                </li>
            </ul>   
        </div>
        <!-- End sliding menu -->