<!DOCTYPE HTML>
<html>
    <head>
        <title>Serious BUS-iness</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script>
        <script type="text/javascript" src="js/sb.js"></script>

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap" class="wrap" data-role="page">

        <!---start-header---->
        <div id="page">
            <div id="header">
                <div class="logo">
                <a href="/"><img src="images/logo.png" alt="" /></a>

            </div>
        </div>
        <!---//End-header---->

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:hidden;">
        <h1>SIGN-IN REQURIED</h1>
        </div><!-- /header -->

        <div class="contentwrap"><!---Start content-wrap---->
        <h3 class="form-signin-heading">Sign in now using your UCSD ID!</h3>

        <!--- Place content HERE ---->

        <form role="form" action="process_login" method="post">
            <input type="text" placeholder="UCSD PID" name="pid"autofocus>
            <input type="password" placeholder="Password" name="pass">
            <label class="checkbox">
                  <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

        </div><!---End content-wrap---->


        <div data-role="footer">
        <h3>Not enrolled yet?</h3>
        <p>Enroll at TPMS now and receive a RFID sticker for your UCSD ID Card!</p>
        </div><!-- /header -->
        <br>

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
    </body>
</html>
