<!DOCTYPE HTML>
<html>
    <head>
        {{> commonhead}}

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap-textbox" class="wrap" data-role="page">

        <!---start-header---->
        <div id="page">
            <div id="header">
                <div class="logo">
                <a href="/"><img src="images/logo.png" alt="" /></a>

            </div>
        </div>
        <!---//End-header---->

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:hidden;">
        <h1>SIGN-IN REQURIED</h1>
        </div><!-- /header -->

        <div class="contentwrap"><!---Start content-wrap---->
        <h3 class="form-signin-heading">Sign in now using your UCSD ID!</h3>

        <!--- Place content HERE ---->
        
        <form role="form" data-ajax="false" action="/process_login" method="post">
            <input type="text" placeholder="UCSD PID" name="pid" autofocus>
            <input type="password" placeholder="Password" name="pass">
            <label class="checkbox">
                  <input type="checkbox" data-theme="c" value="remember-me"> Remember me
            </label>
            <button data-theme="g" type="submit">Sign in</button>
        </form>

        </div><!---End content-wrap---->


        <div data-role="footer" class="footer">
        <h3>Not enrolled yet?</h3>
        <p>Enroll at TPMS now and receive a RFID sticker for your UCSD ID Card!</p>
        </div><!-- /header -->
        <br>

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Google Analytics -->
        {{> ga}}

    </body>
</html>
