<!DOCTYPE HTML>
<html>
    <head>
        <title>Serious BUS-iness</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.mobile-1.4.0.min.css" rel="stylesheet" type="text/css" media="all" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script>
        <script type="text/javascript" src="js/sb.js"></script>

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap" class="wrap" data-role="page">

        <!---start-header---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#leftpanel"> </a>
                <div class="logo"><img src="images/logo.png" alt="" /></div>
        </div>

        <div data-role="panel" id="leftpanel" data-position="left" data-display="overlay" data-theme="b">
            <ul data-role="listview">
                <li data-icon="back"><a href="#" data-rel="close">Close</a></li>
                <li>
                    <a href="/main" rel="external">
                        <img src="images/home-icon.png" alt="" class="ui-li-icon ui-corner-none" />
                        Home</a>
                </li>
                <li>
                    <a href="/newresv" rel="external">
                        <img src="images/blog.png" alt="" class="ui-li-icon ui-corner-none" />
                        Make a new reservation</a>
                </li>
                <li>
                    <a href="/liveview" rel="external">
                        <img src="images/icon.png" alt="" class="ui-li-icon ui-corner-none" />
                        Live Bus Information</a>
                </li>
                <li>
                    <a href="/process_login?logout=true" rel="external">
                        <img src="images/return.png" alt="" class="ui-li-icon ui-corner-none" />
                        Log-out</a>
                </li>
            </ul>
                    
        </div>
        <!---//End-header---->

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:hidden;">
        <h1>Reservations</h1>
        </div><!-- /header -->
        <br>

        <div class="contentwrap"><!---Start content-wrap---->

        <div data-role="popup" id="deleteDialog" data-overlay-theme="b" data-theme="a" data-dismissible="false" style="max-width:400px;">
            <div data-role="header" data-theme="b">
                <h1>Delete?</h1>
            </div>
            <div role="main" class="ui-content">
                <h3 class="ui-title">Are you sure you want to delete this reservation?</h3>
                <p>This action cannot be undone.</p>
                <a href="#" class="ui-icon-delete ui-btn-icon-left ui-btn ui-corner-all ui-shadow ui-btn-b" data-rel="back">Delete</a>
                <a href="#" class="ui-icon-carat-l ui-btn-icon-left ui-btn ui-corner-all ui-shadow ui-btn-a" data-rel="back" data-transition="flow">Cancel</a>
            </div>
        </div>

        <!--- Place content HERE ---->

        <ul data-role="listview" data-inset="true" data-split-icon="delete">
            <li data-role="list-divider">TODAY - Tuesday, February 11, 2014 <span class="ui-li-count">2</span></li>

            <li>
                <a href="#">
                <h3>Regents & Nobel</h3>
                <p>TO: Mandeville Auditorium</p>
                <p class="ui-li-aside"><strong>9:25</strong>AM</p>
                </a>
                <a href="#deleteDialog" data-rel="popup" data-position-to="window" data-transition="pop">Cancel Reservation</a>
            </li>
            <li>
                <a href="#">
                <h3>Mandeville Auditorium</h3>
                <p>TO: Regents & Nobel</p>
                <p class="ui-li-aside"><strong>12:01</strong>PM</p>
                </a>
                <a href="#deleteDialog" data-rel="popup" data-position-to="window" data-transition="pop">Cancel Reservation</a>
            </li>

            <li data-role="list-divider">TOMORROW - Wednesday, February 12, 2014 <span class="ui-li-count">2</span></li>


            <li>
                <a href="#">
                <h3>Regents & Nobel</h3>
                <p>TO: Mandeville Auditorium</p>
                <p class="ui-li-aside"><strong>9:25</strong>AM</p>
                </a>
                <a href="#deleteDialog" data-rel="popup" data-position-to="window" data-transition="pop">Cancel Reservation</a>
            </li>
            <li>
                <a href="#">
                <h3>Mandeville Auditorium</h3>
                <p>TO: Regents & Nobel</p>
                <p class="ui-li-aside"><strong>12:01</strong>PM</p>
                </a>
                <a href="#deleteDialog" data-rel="popup" data-position-to="window" data-transition="pop">Cancel Reservation</a>
            </li>
        </ul>

        </div><!---End content-wrap---->


        <div data-role="footer" style="overflow:hidden;">
        <h1>Copyright 2014 SeriousBusiness</h1>
        </div><!-- /header -->
        <br>

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="/js/bootstrap.js"></script>
    </body>
</html>
