<!DOCTYPE HTML>
<html>
    <head>
        <!-- Google Analytics Content Experiment code -->
        <script>function utmx_section(){}function utmx(){}(function(){var
        k='82520544-0',d=document,l=d.location,c=d.cookie;
        if(l.search.indexOf('utm_expid='+k)>0)return;
        function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
        indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
        length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
        '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
        '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
        '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
        valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
        '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
        </script><script>utmx('url','A/B');</script>
        <!-- End of Google Analytics Content Experiment code -->

        <title>Serious BUS-iness</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.mobile-1.4.0.min.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.0.min.js"></script>

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap" class="wrap" data-role="page">

        <!---start-header---->
        <div id="page">
            <div id="header">
                <a class="navicon" href="#leftpanel"> </a>
                <div class="logo"><img src="images/logo.png" alt="" /></div>
        </div>

        {{> menu}}
        <!---//End-header---->

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:visible;">
        <a href="/" data-icon="back" rel="external">Back</a>
        <h1 style="overflow:visible;">New Reservation</h1>
        </div><!-- /header -->

        <!-- BEGIN Popups -->
        <div data-role="popup" id="popupRoute" data-theme="b" data-overlay-theme="b">
            <ul data-role="listview" data-inset="true" style="min-width:210px;">
                <li data-role="list-divider">Select a route</li>
                {{#each result}}
                <li><a href="javascript: selectRoute('{{_id}}', '{{name}}');">{{name}}</a></li>
                {{/each}}
            </ul>
        </div><!-- /popupRoute -->

        <div data-role="popup" id="popupFrom" data-theme="b" data-overlay-theme="b" style="min-width:270px;">
            <ul id="fromStops" data-role="listview" data-split-icon="camera" data-inset="true" style="min-width:270px;" data-count-theme="a">
            <!-- Populated by AJAX -->
            </ul>
        </div><!-- /popupFrom -->

        <div data-role="popup" id="popupTo" data-theme="b" data-overlay-theme="b" style="min-width:270px;">
            <ul id="toStops" data-role="listview" data-split-icon="camera" data-inset="true">
            <!-- Populated by AJAX -->
            </ul>
        </div><!-- /popupTo -->

        <div data-role="popup" id="popupDetails" data-overlay-theme="b" data-theme="a" data-dismissible="true" style="max-width:300px;">
            <!-- Populated by AJAX -->
        </div><!-- /popupDetails -->

        <!-- END Popups -->

        <div class="contentwrap"><!---Start content-wrap---->

        <!--- Place content HERE ---->

        <a href="javascript: popup('popupRoute', 'open');" id="routeSelect" class="ui-icon-carat-r ui-btn-icon-right ui-btn ui-corner-all ui-shadow btn-green">Shuttle Route</a>
        <a href="javascript: popup('popupFrom', 'open');" id="fromSelect" class="ui-icon-carat-d ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-a">Origin</a>
        <a href="javascript: popup('popupTo', 'open');" id="toSelect" class="ui-icon-carat-u ui-btn-icon-right ui-btn-icon- ui-btn ui-corner-all ui-shadow">Destination</a>
        <br>
        <ul id="schedule" data-role="listview" data-inset="true" data-split-icon="right" data-theme="a" data-count-theme="a">
            <!-- Populated by AJAX -->
            <li><h3>Select shuttle route to begin.</h3></li>
        </ul>

        </div><!---End content-wrap---->
        
        <div data-role="footer" style="overflow:hidden;">
        <h1>Copyright 2014 SeriousBusiness</h1>
        </div><!-- /footer -->
        <br>

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Google Analytics -->
        {{> ga}}

        <script type="text/javascript" src="js/sb.js"></script>
        <script type="text/javascript" src="js/newresvajax.js"></script>
        
    </body>
</html>
