<!DOCTYPE HTML>
<html>
    <head>
        {{> commonhead}}

        <link href="css/jquery.nouislider.min.css" rel="stylesheet">

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap-noswipe" class="wrap" data-role="page">

        {{> logoheader}}
        {{> menu}}

        <!-- BEGIN Popups -->
        <div data-role="popup" id="popupRoute" data-theme="a" data-overlay-theme="f">
            <ul data-role="listview" data-inset="true" style="min-width:210px;" data-divider-theme="d">
                <li data-role="list-divider">Select a route</li>
                {{#each result}}
                <li><a href="javascript: selectRoute('{{_id}}', '{{name}}');">{{name}}</a></li>
                {{/each}}
            </ul>
        </div><!-- /popupRoute -->

        <div data-role="popup" id="popupFrom" data-theme="a" data-overlay-theme="f" style="min-width:270px;">
            <ul id="fromStops" data-role="listview" data-split-icon="camera" data-inset="true" style="min-width:270px;" data-count-theme="a" data-divider-theme="d">
            <!-- Populated by AJAX -->
            </ul>
        </div><!-- /popupFrom -->

        <div data-role="popup" id="popupTo" data-theme="a" data-overlay-theme="f" style="min-width:270px;">
            <ul id="toStops" data-role="listview" data-split-icon="camera" data-inset="true" data-divider-theme="d">
            <!-- Populated by AJAX -->
            </ul>
        </div><!-- /popupTo -->

        <div data-role="popup" id="popupDetails" data-theme="a" data-overlay-theme="f" data-dismissible="true" style="width:270px;" data-divider-theme="d">
            <!-- Populated by AJAX -->
        </div><!-- /popupDetails -->

        <div data-role="popup" id="popupTime" data-theme="a" data-overlay-theme="f" data-dismissible="true" style="width:300px;" data-divider-theme="d">
            <ul data-role="listview" data-inset="true" style="min-width:210px;" data-divider-theme="d">
                <li data-role="list-divider">Select Time Range</li>
                <li data-theme="a" data-icon="false"><a><div id="timeSlider"></div></a></li>
                <li><a href="javascript: selectTo(null, null, null, 'popupTime');" class="ui-icon-check ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-g" id="confirmTime"></a></li>
            </ul>
        </div><!-- /popupTime -->
        <!-- END Popups -->


        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:visible;">
        <a href="/" data-icon="back" rel="external" data-theme="a">Back</a>
        <h1 style="overflow:visible;">New Reservation</h1>
        </div><!-- /header -->

        <div class="contentwrap"><!---Start content-wrap---->

        <!--- Place content HERE ---->

        <a href="javascript: popup('popupRoute', 'open');" id="routeSelect" class="ui-icon-star ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-a">Shuttle Route</a>
        <a href="javascript: popup('popupFrom', 'open');" id="fromSelect" class="ui-icon-location ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-c"></a>
        <a href="javascript: popup('popupTo', 'open');" id="toSelect" class="ui-icon-location ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-c"></a>
        <a href="javascript: popup('popupTime', 'open');" id="timeSelect" class="ui-icon-clock ui-btn-icon-right ui-btn ui-corner-all ui-shadow ui-btn-g">Select Time Range</a>

        <ul id="schedule" data-role="listview" data-inset="true" data-split-icon="right" data-theme="c" data-count-theme="a">
            <!-- Populated by AJAX -->
            <li data-icon="false"><a id="hint" style="pointer-events: none; cursor: default;">Select shuttle route to begin.</a></li>
        </ul>

        </div><!---End content-wrap---->
        
        {{> footer}}

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Google Analytics -->
        {{> ga}}

        <script type="text/javascript" src="js/sb.js"></script>
        <script type="text/javascript" src="js/newresvajax.js"></script>
        <script type="text/javascript" src="js/toast.js"></script>
        <script type="text/javascript" src="js/jquery.nouislider.min.js"></script>

    </body>
</html>
