<!DOCTYPE HTML>
<html>
    <head>
        {{> commonhead}}

    </head>
    <body>
        <!---start-wrap---->
        <div id="page-wrap-textbox" class="wrap" data-role="page">

        <!---start-header---->
        <div id="page">
            <div id="header">
                <div class="logo">
                <a href="/"><img src="images/logo.png" alt="" class="headlogo"/></a>

            </div>
        </div>
        <!---//End-header---->

        <!---start-slider (Main content)---->
        <div class="slider">

        <div data-role="header" style="overflow:hidden;">
            <a href="#" data-icon="back" data-rel="back">Back</a>
            <h1>Registation</h1>
        </div><!-- /header -->

        <div class="contentwrap"><!---Start content-wrap---->

        <!--- Place content HERE ---->
        
        <form role="form" data-ajax="false" action="/process_signup" method="post">
            <h3 class="form-signin-heading">Nice to meet you!<br>What's your name?</h3>
            <input type="text" placeholder="What is your name?" name="name" autofocus>

            <h3 class="form-signin-heading">Please confirm your password:</h3>
            <input type="password" placeholder="Password" name="confirmpass">
            <br>
            <input type="hidden" name="pid" value="{{pid}}">
            <button data-theme="g" type="submit">Register Now!</button>
        </form>

        </div><!---End content-wrap---->

        <div data-role="footer" data-position="fixed" class="footer">
        <h3>Not enrolled yet?</h3>
        <p>Enroll at TPMS now and receive a RFID sticker for your UCSD ID Card!</p>
        </div><!-- /header -->
        <br>

        </div><!---//End-slider---->

        </div><!---//End-wrap---->

        <!-- Google Analytics -->
        {{> ga}}

    </body>
</html>
