
body{
	background:#FFF;
}

/*---start-wrap----*/

.wrap{
}

.header {
	padding: 1.5em 0 3em 0;
}

.logo a{
	margin-top:5px;
	display:block;
}

#header,
.header,
#footer
{
	background: #f5f5f5;
	color: #fff;
	text-align: center;
	line-height: 40px;
	height: 45px;
	font-size: 2em;
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
	-webkit-box-shadow: 0px 3px 5px rgba(60, 60, 60, 0.03);
	-moz-box-shadow: 0px 3px 5px rgba(60, 60, 60, 0.03);
	box-shadow: 0px 3px 5px rgba(60, 60, 60, 0.03);
}
.navicon
{
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 10px;
	left: 11px;
	background: url(../images/nav-icon.png) no-repeat;
}

.slider{
    background:#F7F7F7;
    padding: 3.0em 0em 0em 0em;
    text-align: center;
}

.contentwrap {
    padding: 0em 1em 1em 1em;
}

.container { 
	position: relative; 
	-webkit-transition: all 1s ease;
	  -moz-transition: all 1s ease;
	  -o-transition: all 1s ease;
	  transition: all 1s ease;	
}

/*---//End-wrap----*/